.sectionContainer {
    max-width: 1248px;
    margin: 0 auto;
    padding: 0 96px;
    font-family: 'Montserrat', sans-serif;
}

.detailContainer {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 40px;
    margin: 0 50px;
    position:relative;
}

.detailShape {
    width: 84px;
    height: 280px;
    background-color: #DEC68B;
    border-radius: 14px;
    position: absolute;
    left: -15px;
    top: 20px;
    z-index: -1;
}

.detailImage {
    width: 25rem;
    height: 25rem;
    object-fit: cover;
    border-radius: 20px;
}

.photosHeader {
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
    color: #291507;
}

.morePhotosFlex {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    margin-bottom: 36px;
    justify-content: space-between;
}

.morePhotosImage {
    width: 15rem;
    height: 15rem;
    object-fit: cover;
    border-radius: 20px;
}
