.sectionContainer {
    max-width: 1248px;
    margin: 0 auto;
    padding: 0 96px;
    font-family: 'Montserrat', sans-serif;
}

.detailContainer {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 40px;
    margin: 0 50px;
    position:relative;
}

.detailShape {
    width: 84px;
    height: 17%;
    background-color: #DEC68B;
    border-radius: 14px;
    position: absolute;
    left: -15px;
    top: 20px;
    z-index: -1;
}

.detailImage {
    width: 20rem;
    height: 20%;
    aspect-ratio: 1;
    object-fit: cover;
    border-radius: 20px;
}

.photosHeader {
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
    color: #291507;
}

.morePhotosFlex {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    margin-bottom: 36px;
    justify-content: space-between;
}

.morePhotosImage {
    width: 15rem;
    height: 15rem;
    object-fit: cover;
    border-radius: 20px;
}

.spinner {
    width: 80%;
    height: 80%;
}

.loadingContainer {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff; /* set this to your desired background color */
}

.left {
    width: 45%;
}
