#root {
  max-width: 1248px;
  margin: 0 auto;
  padding: 0 96px;
  font-family: 'Montserrat', sans-serif;
}

body {
  margin: 0
}

h2 {
  font-weight: 500;
  margin: 0 auto;
}

h1 {
  font-weight: 700;
  font-size: 48px;
}

p {
  font-size: 18px;
  font-weight: 500;
}
