.container {
    padding: 40px 0;
    position: relative;
}

.contentContainer {
    width: 26rem;
}

.header {
    padding-top: 16px;
    padding-bottom: 44px;
    font-weight: 700;
    font-size: 48px;
}

.body {
    padding-bottom: 66px;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
}

.link {
    position: absolute;
    display: inline;
    text-decoration: none;
    color: #29150799;
}

.linkText {
    display: inline;
    color: #29150799;
}

.aboutBlock {
    margin-right: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 176px 10%;
    justify-content: end;
    gap: 1px;
}

/* Create four equal columns that sits next to each other */
.column {
    max-width: 26%;
    padding: 0 4px;
    position: relative;
    text-align: right;
}

.catImage3 {
    display: inline;
    width: 100%;
    min-width: 250px;
    margin: 5px;
}

.catImage2 {
    display: inline;
    width: 100%;
    min-width: 250px;
    margin: 5px;
}

.catImage1 {
    display: inline;
    width: 70%;
    min-width: 175px;
    position: relative;
}


