.footer {
    background-color: #040706;
    border-top-right-radius: 42px;
    border-top-left-radius: 42px;
    width: 100%;
    max-width: 1248px;
}

.footerContent {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px 10%;
}

.footerLogo{
    filter: invert(99%) sepia(8%) saturate(358%) hue-rotate(278deg) brightness(117%) contrast(100%);
}

.footerIcon {
    display: inline;
    color: white;
    padding: 4px 10px 0 0;
}

.footerText {
    display: inline;
    color: white;
    font-weight: 200;
}

.footerLink{
    font-weight: 400;
    text-decoration: none;
    color: white;
}

