.hero {
    background: url("/images/HeroImagelg.png") no-repeat center;
    background-size: auto 100%;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    height: 538px;
    align-content: center;
    position: relative;
}

.heroBlock {
    position:relative;
    width: 23rem;
    left: 10%;
    top: 115px;
    z-index: 1;
}

.heroSubHeader {
    color: white;
    font-size: 24px;
    padding-bottom: 50px;
    font-weight: 500;
}

.catBackground{
    filter: invert(99%) sepia(8%) saturate(358%) hue-rotate(278deg) brightness(117%) contrast(100%);
    width: 15rem;
    height: 6rem;
}