.container {
    background-color: #E3E1DC;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    padding: 40px 0;
    position: relative;
}

.contentContainer {
    padding: 0 10%;
}

.header {
    font-size: 48px;
    max-width: 537px;
    padding-top: 36px;
}

.subHeader{
    color: #291507;
    font-weight: 500;
    font-size: 18px;
    padding-bottom: 8px;
}

.seeMoreText {
    display: inline;
    color: #29150799;
}

.seeMoreLink {
    position: absolute;
    right: 10%;
    top: 40%;
    display: inline;
    text-decoration: none;
    color: #29150799;
}

.seeMoreIcon {
    display: inline;
}

.flexContainer {
    margin: 46px 0;
    display: flex;
    flex-wrap: wrap;
    gap: 51px;
    justify-content: space-between;
}