.breedInput{
    background-color:white;
    color:#291507;
    width: 89%;
    border-radius: 1000px;
    padding: 20px 20px;
    border: 0;
    font-family: 'Montserrat', sans-serif;
}

.breedInput::placeholder {
    color:#291507;
    font-weight: 500;
    font-size: 18px;
}


.searchCard {
    color:#291507;
    background-color:white;
    border-radius: 35px;
    padding: 20px 20px;
    z-index: 1;
    animation: slideDown 400ms ease-in-out forwards;
    transform-origin: top center;
    max-height: 200px;
    -ms-overflow-style: none;
    overflow: hidden;
    position: relative;
}

.searchCardLink{
    color: #040706;
    text-decoration: none;
    display: block;
    padding: 5px 0;
}

.searchCardLink:hover {
    animation: slowSelect 200ms ease-in-out forwards;
}

.searchCard::-webkit-scrollbar {
    display: none;
}

.searchCard:hover{
    overflow-y: scroll;
}



@keyframes slideDown {
    0% {
        opacity: 0;
        transform: translateY(-60px);
        pointer-events: none;
    }

    100% {
        opacity: 1;
        transform: translateY(0);
        pointer-events: all;
    }
}

@keyframes slowSelect {
    0% {
        background-color: rgba(224, 229, 227, 0);
    }

    100% {
        background-color: rgba(224, 229, 227, 1);
    }
}
